* {
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  color: #333;
  text-align: center;
}
main {
  margin: 5px;
  padding: 20px;
  background-color: rgb(235, 235, 235);
}
h1 {
  padding: 30px 0 0 0;
  font-size: 2em;
}
#image {
  max-width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
}
